<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylawyer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lawyer"
        android:label="Lawyer&apos;s Diary"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourtScenes"
            android:parentActivityName=".LawyerProfileActivity"></activity>
        <activity android:name=".CaseHistory"></activity>

        <activity android:name=".Clienthomepage" />
        <activity
            android:name=".Clientotpverification"
            android:parentActivityName=".ClientSignup" />
        <activity
            android:name=".AddCaseActivity"
            android:parentActivityName=".LawyerProfileActivity" />
        <activity
            android:name=".AddStaffMembersActivity"
            android:parentActivityName=".LawyerProfileActivity" />
        <activity
            android:name=".StaffInformation"
            android:parentActivityName=".LawyerProfileActivity" />
        <activity
            android:name=".ClientSignup"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LawyerProfileActivity" />
        <activity
            android:name=".LawyerLogin"
            android:parentActivityName=".LawyerSignUp" />
        <activity
            android:name=".LawyerSignUp"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>